<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/d-a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,154},{156,158}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{156,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>damaged/d-d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{178,150}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{178,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fly/Dragon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,262}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{312,262}}</string>
                <key>sourceSize</key>
                <string>{420,320}</string>
            </dict>
            <key>fly/Dragon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{312,224}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{312,224}}</string>
                <key>sourceSize</key>
                <string>{420,320}</string>
            </dict>
            <key>fly/Dragon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{310,286}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,33},{310,286}}</string>
                <key>sourceSize</key>
                <string>{420,320}</string>
            </dict>
            <key>fly/Dragon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{310,222}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,37},{310,222}}</string>
                <key>sourceSize</key>
                <string>{420,320}</string>
            </dict>
            <key>stand/d-s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,314},{146,168}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{146,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5999f4aad65b407920e6e876884efeeb$</string>
            <key>textureFileName</key>
            <string>dragon.png</string>
        </dict>
    </dict>
</plist>
