<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>begin/fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,199},{69,33}}</string>
                <key>offset</key>
                <string>{192,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,103},{69,33}}</string>
                <key>sourceSize</key>
                <string>{495,229}</string>
            </dict>
            <key>end/bigfire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,234},{65,77}}</string>
                <key>offset</key>
                <string>{-145,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{65,77}}</string>
                <key>sourceSize</key>
                <string>{495,229}</string>
            </dict>
            <key>end/bigfire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{103,109}}</string>
                <key>offset</key>
                <string>{-148,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,59},{103,109}}</string>
                <key>sourceSize</key>
                <string>{495,229}</string>
            </dict>
            <key>end/bigfire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{149,155}}</string>
                <key>offset</key>
                <string>{-146,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{149,155}}</string>
                <key>sourceSize</key>
                <string>{495,229}</string>
            </dict>
            <key>end/bigfire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,195}}</string>
                <key>offset</key>
                <string>{-143,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{199,195}}</string>
                <key>sourceSize</key>
                <string>{495,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15090d68c2fbc8b94552cc41a949b3a5$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
